{% extends 'base.html.twig' %}

{% block body %}
    <h1>Gérer les lieux</h1>

    <h2>Ajouter un lieu</h2>

    <div>
    {{ form_start(lieuForm) }}
    {{ form_widget(lieuForm) }}
    <button>Ajouter</button>
    {{ form_end(lieuForm) }}
    </div>

    <table>
        <tr>
            <th>Nom</th>
            <th>Adresse</th>
        </tr>
        {% for lieu in listeLieux %}
            <tr>
                <td>{{ lieu.nom }}</td>
                <td>{{ lieu.numeroEtRue }}</td>
            </tr>
        {%  endfor %}
    </table>
{% endblock %}

{% block title %}
    {{ parent() }} | Liste des lieux
{% endblock %}

