{% extends 'base.html.twig' %}

{% block body %}
    <div class="js-lieu">
        <h1>Gérer les lieux</h1>

        <h2>Ajouter un lieu</h2>

        <div class="js-lieu-form">
        {{ form_start(lieuForm) }}
        {{ form_widget(lieuForm) }}
        <button type="submit">Ajouter</button>
        {{ form_end(lieuForm) }}
        </div>

        <table class="js-lieu-content">
            <tr>
                <th>Nom</th>
                <th>Adresse</th>
                <th>Ville</th>
                <th>Code postal</th>
            </tr>
            {% for lieu in listeLieux %}
                <tr>
                    <td>{{ lieu.nom }}</td>
                    <td>{{ lieu.numeroEtRue }}</td>
                    <td>{{ lieu.ville.nom }}</td>
                    <td>{{ lieu.ville.codePostal }}</td>
                </tr>
            {%  endfor %}
        </table>
        {{ knp_pagination_render(listeLieux) }}
    </div>

{% endblock %}

{% block title %}
    {{ parent() }} | Liste des lieux
{% endblock %}

