<tr class="js-filter-sorting">
    {% include 'main/_sorting.html.twig' with {listeSorties: listeSorties} %}
    <th>Inscrits</th>
    <th>Etat</th>
    <th>Inscrit</th>
    <th>Organisateur</th>
    <th>actions</th>
</tr>
{% for sortie in listeSorties %}
    <tr>
        <td>{{ sortie.nom }}</td>
        <td>{{ sortie.dateHeureDebut|format_datetime(pattern='d MMM Y à h:m', locale='fr') }}</td>
        <td>{{ sortie.dateLimiteInscription|date('d/m/Y', 'Europe/Paris') }}</td>
        <td>
            {% if sortie.nbInscriptionsMax is not null %}
                {{ sortie.participantsInscrits.count }} / {{ sortie.nbInscriptionsMax }}
            {% else %}
                {{ sortie.participantsInscrits.count }}
            {% endif %}
        </td>
        <td>{{ sortie.etatSortie.libelle }}</td>
        <td>
            {% if app.user in sortie.participantsInscrits %}
                ✔️
            {% else %}
                ❌
            {% endif %}
        </td>
        <td>{{ sortie.participantOrganisateur.nom }}</td>

        <td>
            {% if sortie.participantOrganisateur.id is same as(app.user.id) %}
                <a class="clickable" href="{{ path('sortie_modifier', {'id': sortie.id}) }}">Modifier</a>
            {% else %}
                <a class="clickable" href="{{ path('sortie_details', {'id': sortie.id}) }}">Afficher</a>
            {% endif %}
        </td>
    </tr>
{% endfor %}
