{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">

    <h1>Liste des sorties</h1>

    <table>
        <tr>
            <th>Nom de la sortie</th>
            <th>Date de la sortie</th>
            <th>Clôture</th>
            <th>Inscrits</th>
            <th>Etat</th>
            <th>Inscrit</th>
            <th>Organisateur</th>
            <th>actions</th>
        </tr>
    {%  for sortie in listeSorties %}
        <tr>
            <td>{{ sortie.nom }}</td>
            <td>{{ sortie.dateHeureDebut|date('d/m/Y h:i') }}</td>
            <td>{{sortie.dateLimiteInscription|date('d/m/Y')}}</td>
            <td>
                {% if sortie.nbInscriptionsMax is not null %}
                    {{ sortie.participantsInscrits.count }} / {{ sortie.nbInscriptionsMax}}
                {% else %}
                    {{ sortie.participantsInscrits.count }}
            {% endif %}
            </td>
            <td>{{ sortie.etatSortie.libelle }}</td>
            <td></td>
            <td>{{ sortie.participantOrganisateur.nom }}</td>
            <td>Consulter(lien à créer)</td>
        </tr>
    {% endfor %}
    </table>
    {{ knp_pagination_render(listeSorties) }}
</div>
{% endblock %}
