{% extends 'base.html.twig' %}

{% block title %}{{ sortieAffichee.nom }} | {{ parent() }}{% endblock %}

{% block body %}
    <h2>Sortie {{ sortieAffichee.nom }}</h2>

    <div>Etat : {{ sortieAffichee.etatSortie.libelle }}</div>
    <div>Date & heure : {{ sortieAffichee.dateHeureDebut | date('d/m/Y h:m') }}</div>
    <div>Date limite d'inscription : {{ sortieAffichee.dateLimiteInscription | date('d/m/Y')}}</div>
    <div>Places : {{ sortieAffichee.nbInscriptionsMax }}</div>
    <div>Durée : {{ sortieAffichee.duree }} minutes</div>
    <div>Infos : {{ sortieAffichee.description }}</div>
    <div>Campus : {{ sortieAffichee.campus.nom }}</div>
    <div>Lieu : {{ sortieAffichee.lieu.nom }}</div>
    <div>Rue : {{ sortieAffichee.lieu.ville.nom }}</div>
    <div>Code postal : {{ sortieAffichee.lieu.ville.codePostal }}</div>
    <div>Latitude : {{ sortieAffichee.lieu.latitude }}</div>
    <div>Longitude : {{ sortieAffichee.lieu.longitude }}</div>

    Organisateur : {{ sortieAffichee.participantOrganisateur.nom }} {{ sortieAffichee.participantOrganisateur.prenom }}
    <table>
        <th>Pseudo</th>
        <th>Nom</th>
        <th>Action</th>
        {% for participant in sortieAffichee.participantsInscrits %}
            <tr>
                <td>{{ participant.pseudo }}</td>
                <td>{{ participant.prenom }} {{ participant.nom|upper }}</td>
                <td><button><a href="{{ path('user_afficher_profil', {'id': participant.id}) }}">Afficher le profil</a></button> </td>
            </tr>
        {% endfor %}
    </table>

    {% set inscritOK = false %}
    {% for participant in sortieAffichee.participantsInscrits %}

        {% if participant.id == app.user.id %}
            {% set inscritOK = true %}
        {% endif %}

    {% endfor %}


    {% if app.user %}
        {% if app.user.id == sortieAffichee.participantOrganisateur.id or app.user.id == app.user.administrateur%}
            <div>
                <a href="{{ path('sortie_details_annuler',{"id": sortieAffichee.id}) }}"><button>Annuler la sortie</button></a>
            {% if app.user.administrateur %}
                    <button>Modifier la sorte</button>
                    <a href="{{ path('sortie_details_supprimer', {"id": sortieAffichee.id}) }}"><button>Supprimer la sortie</button></a>
            {% endif %}
            </div>
        {% endif %}
        {% if app.user.id != sortieAffichee.participantOrganisateur.id and inscritOK == true %}
            <div>
                <a href="{{ path('sortie_details_sedesister', {"id": sortieAffichee.id}) }}"><button>Se désister</button></a>
            </div>
        {% endif %}
        {% if app.user.id != sortieAffichee.participantOrganisateur.id and inscritOK == false and app.user.administrateur == null  %}
            <div>
                <a href="{{ path('sortie_details_inscription', {"id": sortieAffichee.id}) }}"><button>S'inscrire</button></a>
            </div>
        {% endif %}
    {% endif %}

{% endblock %}