{% extends 'base.html.twig' %}

{% block title %}
    Modifier la sortie | {{ parent() }}
{% endblock %}

{% block body %}
    <h2>Modification de la sortie</h2>
    {{ form_start(sortieForm) }}
    {{ form_row(sortieForm.nom) }}
    {{ form_row(sortieForm.dateHeureDebut) }}
    {{ form_row(sortieForm.duree) }}
    {{ form_row(sortieForm.dateLimiteInscription) }}
    {{ form_row(sortieForm.nbInscriptionsMax) }}
    {{ form_row(sortieForm.description) }}
    {{ form_row(sortieForm.lieu) }}
    <div>Campus : {{ sortie.campus.nom }}</div>
    <button>Valider</button>
    {{ form_end(sortieForm) }}
{% endblock %}