<nav>
    <ul>
        <li><a href="{{ path('main_index') }}" title="Home">Accueil</a></li>

        {% if app.user %}

            <li><a href="{{ path('user') }}" title="Afficher mon profil">Mon profil</a></li>
            <li><a href="{{ path('app_logout') }}" title="Logout">Se déconnecter ({{ app.user.pseudo }})</a></li>

            {% if is_granted("ROLE_ADMIN") %}
                <li><a href="{{ path('user') }}" title="Créer un nouveau compte">Enregistrer un étudiant</a></li>
                <li><a href="{{ path('lieu') }}" title="Gestion villes">Villes</a></li>
                <li><a href="{{ path('lieu') }}" title="Gestion campus">Campus</a></li>
            {% endif %}

        {% else %}
            <li><a href="{{ path('app_login') }}" title="Login">Login</a></li>
        {% endif %}

    </ul>
</nav>