{% set page = app.request.get('_route') %}

<nav>
    <ul class="col-12 col-s-12">
        {% if app.user %}

            <li class="col-2 col-s-12"><a href="{{ path('main_index') }}" title="Home" {% if page == "main_index" %} class = "active" {% endif %}>Accueil</a></li>
            <li class="col-2 col-s-12"><a href="{{ path('user_modifier_profil') }}" title="Afficher mon profil" {% if page == "user_modifier_profil" %} class = "active" {% endif %}>Mon profil</a></li>
            <li class="col-2 col-s-12"><a href="{{ path('app_logout') }}" title="Logout" {% if page == "app_login" %} class = "active" {% endif %}>Se déconnecter ({{ app.user.pseudo }})</a></li>
            {% if is_granted("ROLE_ADMIN") %}
                <li class="col-2 col-s-12"><a href="{{ path('app_register') }}" title="Créer un nouveau compte" {% if page == "app_register" %} class = "active" {% endif %}>Enregistrer un étudiant</a></li>
                <li class="col-2 col-s-12"><a href="{{ path('lieu') }}" title="Gestion villes">Villes</a></li>
                <li class="col-2 col-s-12"><a href="{{ path('lieu') }}" title="Gestion campus">Campus</a></li>
            {% endif %}
        {% else %}
            <li class="col-2 col-s-12"><a href="{{ path('app_login') }}" title="Login" {% if page == "app_login" %} class = "active" {% endif %}>Login</a></li>
        {% endif %}
    </ul>
</nav>