{% set page = app.request.get('_route') %}
<nav>
    <ul class="col-12 col-s-12">
        {% if app.user %}
        <li class="col-1 col-s-12 title"> <a href="{{ path('main_index') }}"><img class="logo-nav" src="{{ asset('img/logowhite200x205.png') }}"
                                        alt="logo_website"></a></li>
            <li class="col-2 col-s-12 title"><a href="{{ path('main_index') }}"
                                          title="Home"><div>Ouistiti Sorties</div></a>
            </li>
            <li class="col-1 col-s-12 nav-choices"><a href="{{ path('user_modifier_profil') }}"
                                          title="Afficher mon profil" {% if page == "user_modifier_profil" %} class="active" {% endif %}>Mon
                    profil</a></li>
            {% if is_granted("ROLE_ADMIN") %}
                <li class="col-1 col-s-12 nav-choices"><a href="{{ path('app_register') }}"
                                              title="Créer un nouveau compte" {% if page == "app_register" %} class="active" {% endif %}>Ajout
                        étudiant</a></li>
                <li class="col-1 col-s-12 nav-choices"><a href="{{ path('app_registerListe') }}"
                                              title="Ajouter étudiants" {% if page == "app_registerListe" %} class="active" {% endif %}>Ajout
                        liste CSV</a></li>
                <li class="col-1 col-s-12 nav-choices"><a href="{{ path('user_supprimer_utilisateurs') }}"
                                              title="Supprimer des utilisateurs" {% if page == "user_supprimer_utilisateurs" %} class="active" {% endif %}>Gérer comptes</a></li>
                <li class="col-1 col-s-12 nav-choices"><a href="{{ path('lieu') }}"
                                              title="Liste des lieux" {% if page == "lieu" %} class="active" {% endif %}>Gérer
                        Lieux</a></li>
                <li class="col-1 col-s-12 nav-choices"><a href="{{ path('ville') }}"
                                              title="Liste des villes" {% if page == "ville" %} class="active" {% endif %}>Gérer
                        Villes</a></li>
            {% endif %}
            <li class="col-2 col-s-12 nav-choices"><a href="{{ path('app_logout') }}"
                                          title="Logout" {% if page == "app_login" %} class="active" {% endif %}>Déconnexion
                    ({{ app.user.pseudo }})</a></li>
            {% else %}
                <li class="col-1 col-s-12 title"> <img class="logo-nav" src="{{ asset('img/logowhite200x205.png') }}"
                                                                                          alt="logo_website"></li>
                <li class="col-2 col-s-12 title"><div>Ouistiti Sorties</div></li>
        {% endif %}
    </ul>
</nav>