{% extends 'base.html.twig' %}

{% block body %}

    <h1>Mon profil</h1>
    {% if app.user.avatarPath %}
        <img src='{{ asset('uploads/avatar/'~ app.user.avatarPath) }}' alt='avatar' width="200">
    {% endif %}
    {{ form_start(userForm) }}
        {{ form_row(userForm.pseudo, { value: app.user.pseudo}) }}

        {{ form_row(userForm.prenom, { value: app.user.prenom}) }}

        {{ form_row(userForm.nom, { value: app.user.nom}) }}

        {{ form_row(userForm.telephone, { value: app.user.telephone}) }}

        {{ form_row(userForm.email, { value: app.user.email}) }}

        {{ form_row(userForm.password, { value: app.user.password}) }}

        {{ form_row(userForm.campus)}}

        {{ form_row(userForm.avatarPath, { value: app.user.avatarPath}) }}
    <div id="avatarPreview">
    </div>
    <button type="submit">Enregistrer</button>
    <button type="reset">Annuler</button>
    {{ form_end(userForm) }}

    </div>



    <script>
        window.onload =(function(){

            let elementAvatarPreview = document.getElementById("avatarPreview");
            let input = document.getElementById("user_avatarPath");
            input.addEventListener('change', function(){
                let [file] = input.files;
                if(file){
                    //verification si bien une image
                    if(file['type'].split('/')[0] == "image"){
                        elementAvatarPreview.innerHTML = "<img src='"+ URL.createObjectURL(file) +"' alt='avatar' width='200' height=''>";
                     }
                }
            })
        })();
    </script>

{% endblock %}

{% block title %}
    {{ parent() }} | Profil : {{ app.user.pseudo }}
{% endblock %}

